#projects {
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 100px;
}

.projects {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    justify-content: center;
}

@media only screen and (max-width: 992px){
  .projects {
    width: 90%;
  }
}
@media only screen and (max-width: 768px){
  .projects {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 50px;
      width: 100%;
  }
}
 