.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,500&display=swap');
:root {
  --headings-color: #557571;
  --text-color: #435b58;
  --button-color: #D49A89;
  --background-1: #F4F4F4;
  --background-2: #f7f2ee;
  --details: #F7D1BA;
}

body {
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
  color: var(--headings-color);
  font-weight: 400;
}

h1 {
  font-size: 12vw;
}

h2 {
  font-size: 4vw;
}

h3 {
  font-size: 7vw;
}

p {
  color: var(--text-color);
  font-family: 'Open Sans',sans-serif;
}

@media only screen and (min-width: 786px){
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 55px;
  }


}